  <div class="text-center">
    <h1><span class="header-2">Tour of the Reds</span> </h1>
    <h2 class="sub-heading-1">Portal to customize beacons</h2>   
  </div>

  <div class="col-lg-4 col-lg-offset-4">

    <!-- show any messages that come back with authentication -->
      <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

    <!-- LOGIN FORM -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="form-group input-group" [ngClass]="{'has-error':!loginForm.controls['username'].valid && loginForm.controls['username'].touched}">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>        
        <input type="text" class="form-control" name="username" placeholder="Username" [formControl]="loginForm.controls['username']">
      </div>        
      <div class="form-control-feedback">
        <p *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">Username is required</p>
      </div>
      <div class="form-group input-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>        
        <input type="password" class="form-control" name="password" placeholder="Password" [formControl]="loginForm.controls['password']">
      </div>        
      <div class="form-control-feedback">
        <p *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Password is required</p>
        <p *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Your password should contain at least 8 characters</p>        
      </div>     
      <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-block btn-success btn-lg">Login</button>
      </div>
    </form> 
  </div>


