.header-1 {
	color : #04529D;
	font-weight: 900;
	font-size: 200%;
}

.header-2 {
	color : #FFFFFF;
	font-weight: 900;
	font-size: 200%;	
}

.sub-heading-1 {
	color : #FFFFFF;
	font-weight: 900;	
}

.desc-1 {
	color : #9C9999;
	font-size: 150%;	
}

.desc-2 {
	color : #9C9999;
	font-size: 150%;	
}

.form-control-feedback {
	color: #ED4337;
}