<div class="container" style="margin-top:5%;">
	<div class="inner-container">
		<div class="row" style="background:white">
			<div class="col-lg-5 col-lg-offset-4">
				<h1 style="color:red;text-align:center;"> Tour of the Reds </h1>
			</div>				
			<button (click)="logout()" class="btn btn-danger btn-lg pull-right" style="margin-top:10px;margin-right:10px;">Logout</button>
		</div>
		<div class="row" style="background:white;padding-bottom:30%">
			<ng2-smart-table [settings]="settings" [source]="data" (deleteConfirm)="onDelete($event)" (editConfirm)="onSave($event)" (createConfirm)="onCreate($event)"></ng2-smart-table>
		</div>
	</div>
</div>
